<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://www.bea.com/ns/weblogic/90/domain" xmlns:sec="http://www.bea.com/ns/weblogic/90/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wls="http://www.bea.com/ns/weblogic/90/security/wls" xsi:schemaLocation="http://www.bea.com/ns/weblogic/910/domain.xsd">
  <name>scjsegateway</name>
  <domain-version>9.2.0.0</domain-version>
  <security-configuration>
    <name>scjsegateway</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType">
        <sec:control-flag>SUFFICIENT</sec:control-flag>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://www.bea.com/ns/weblogic/90/security/xacml" xsi:type="xac:xacml-role-mapperType"></sec:role-mapper>
      <sec:authorizer xmlns:xac="http://www.bea.com/ns/weblogic/90/security/xacml" xsi:type="xac:xacml-authorizerType"></sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType"></sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType"></sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType"></sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted>weblogic</credential-encrypted>
  </security-configuration>
  <jta>
    <timeout-seconds>600</timeout-seconds>
  </jta>
  <log>
    <file-name>../../logs/scjsegateway.domain.log</file-name>
  </log>
  <server>
    <name>admin</name>
    <log>
      <file-name>../../logs/scjsegateadmin.weblogic.log</file-name>
    </log>
    <machine xsi:nil="true"></machine>
    <listen-port>@scjsegateadmin.port@</listen-port>
    <web-server>
      <web-server-log>
        <file-name>../../logs/scjsegateadmin.access.log</file-name>
        <elf-fields xsi:nil="true"></elf-fields>
      </web-server-log>
    </web-server>
    <listen-address>@computer.name@</listen-address>
  </server>
  <server>
    <name>scjsegateM1</name>
    <ssl>
      <enabled>true</enabled>
      <listen-port>@scjsegateM1.sslport@</listen-port>
      <server-private-key-alias>@ssl.alias@</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>@ssl.keypass@</server-private-key-pass-phrase-encrypted>
    </ssl>
    <log>
      <file-name>../../logs/scjsegateM1.weblogic.log</file-name>
    </log>
    <execute-queue>
      <name>weblogic.kernel.default</name>
      <thread-count>@scjsegate.weblogic.kernel.default.count@</thread-count>
      <threads-maximum>@scjsegate.weblogic.kernel.default.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.weblogic.kernel.default.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>outbound.message.execute.queue</name>
      <thread-count>@scjsegate.outbound.message.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.outbound.message.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.outbound.message.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>outbound.gateway.message.execute.queue</name>
      <thread-count>@scjsegate.outbound.gateway.message.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.outbound.gateway.message.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.outbound.gateway.message.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>inbound.gateway.message.execute.queue</name>
      <thread-count>@scjsegate.inbound.gateway.message.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.inbound.gateway.message.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.inbound.gateway.message.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>message.broker.execute.queue</name>
      <thread-count>@scjsegate.message.broker.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.message.broker.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.message.broker.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <use81-style-execute-queues>true</use81-style-execute-queues>    
    <machine>myMachine</machine>
    <listen-port>@scjsegateM1.port@</listen-port>
    <cluster>scjsegatecluster</cluster>
    <listen-address>@computer.name@</listen-address>
    <server-start>
      <arguments>-server -Xms256m -Xmx512m -XX:MaxPermSize=128m -XX:MaxPermSize=256m -da</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>scjsegateM1</user-preferred-server>
      <cluster>scjsegatecluster</cluster>
    </jta-migratable-target>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>@ssl.keystore@</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>jks</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>@ssl.storepass@</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted></java-standard-trust-key-store-pass-phrase-encrypted>
  </server>
  <server>
    <name>scjsegateM2</name>
    <ssl>
      <enabled>true</enabled>
      <listen-port>@scjsegateM2.sslport@</listen-port>
      <server-private-key-alias>@ssl.alias@</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>@ssl.keypass@</server-private-key-pass-phrase-encrypted>
    </ssl>
    <log>
      <file-name>../../logs/scjsegateM2.weblogic.log</file-name>
    </log>
    <execute-queue>
      <name>weblogic.kernel.default</name>
      <thread-count>@scjsegate.weblogic.kernel.default.count@</thread-count>
      <threads-maximum>@scjsegate.weblogic.kernel.default.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.weblogic.kernel.default.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>outbound.message.execute.queue</name>
      <thread-count>@scjsegate.outbound.message.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.outbound.message.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.outbound.message.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>outbound.gateway.message.execute.queue</name>
      <thread-count>@scjsegate.outbound.gateway.message.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.outbound.gateway.message.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.outbound.gateway.message.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>inbound.gateway.message.execute.queue</name>
      <thread-count>@scjsegate.inbound.gateway.message.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.inbound.gateway.message.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.inbound.gateway.message.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>message.broker.execute.queue</name>
      <thread-count>@scjsegate.message.broker.execute.queue.count@</thread-count>
      <threads-maximum>@scjsegate.message.broker.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@scjsegate.message.broker.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <use81-style-execute-queues>true</use81-style-execute-queues>    
    <machine>myMachine</machine>
    <listen-port>@scjsegateM2.port@</listen-port>
    <cluster>scjsegatecluster</cluster>
    <listen-address>@computer.name@</listen-address>
    <server-start>
      <arguments>-server -Xms256m -Xmx512m -XX:MaxPermSize=128m -XX:MaxPermSize=256m -da</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>scjsegateM2</user-preferred-server>
      <cluster>scjsegatecluster</cluster>
    </jta-migratable-target>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>@ssl.keystore@</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>jks</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>@ssl.storepass@</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted></java-standard-trust-key-store-pass-phrase-encrypted>
  </server>
  <cluster>
    <name>scjsegatecluster</name>
    <multicast-address>@scjsegatecluster.multicast.address@</multicast-address>
    <multicast-port>@scjsegatecluster.multicast.port@</multicast-port>
  </cluster>
  <messaging-bridge>
    <name>InboundBridge</name>
    <target>scjsegatecluster</target>
    <source-destination>InboundSourceJMSBridgeDestination</source-destination>
    <target-destination>InboundTargetJMSBridgeDestination</target-destination>
    <selector></selector>
    <quality-of-service>Exactly-once</quality-of-service>
    <qos-degradation-allowed>true</qos-degradation-allowed>
    <durability-enabled>true</durability-enabled>
    <idle-time-maximum>@scjsegate.jms.inbridge.idletimemaximum@</idle-time-maximum>
    <async-enabled>false</async-enabled>
    <started>true</started>
    <batch-size>@scjsegate.jms.inbridge.batchsize@</batch-size>
    <batch-interval>@scjsegate.jms.inbridge.batchinterval@</batch-interval>
    <preserve-msg-property>false</preserve-msg-property>
  </messaging-bridge>
  <messaging-bridge>
    <name>ItemTrackingBridge</name>
    <target>scjsegatecluster</target>
    <source-destination>ItemTrackingSourceJMSBridgeDestination</source-destination>
    <target-destination>ItemTrackingTargetJMSBridgeDestination</target-destination>
    <selector></selector>
    <quality-of-service>Exactly-once</quality-of-service>
    <qos-degradation-allowed>true</qos-degradation-allowed>
    <durability-enabled>true</durability-enabled>
    <idle-time-maximum>@scjsegate.jms.trackbridge.idletimemaximum@</idle-time-maximum>
    <async-enabled>false</async-enabled>
    <started>true</started>
    <batch-size>@scjsegate.jms.trackbridge.batchsize@</batch-size>
    <batch-interval>@scjsegate.jms.trackbridge.batchinterval@</batch-interval>
    <preserve-msg-property>false</preserve-msg-property>
  </messaging-bridge>
  <embedded-ldap>
    <name>xhibit</name>
    <credential-encrypted>{3DES}Ya/QivymMDQGMqQT365UcRvo81A/dw4dhNMOlaZUDvE=</credential-encrypted>
  </embedded-ldap>
  <configuration-version>9.2.0.0</configuration-version>
  <app-deployment>
    <name>jms-xa-adp</name>
    <target>scjsegatecluster</target>
    <module-type>rar</module-type>
    <source-path>@scjsegate.jms.jmsxaadp@</source-path>
    <security-dd-model>DDOnly</security-dd-model>
  </app-deployment>
  <machine>
    <name>myMachine</name>
  </machine>
  <jms-server>
    <name>scjsegateM1-JMSServer</name>
    <target>scjsegateM1 (migratable)</target>
    <persistent-store>scjsegateM1-JMSJDBCStore</persistent-store>
  </jms-server>
  <jms-server>
    <name>scjsegateM2-JMSServer</name>
    <target>scjsegateM2 (migratable)</target>
    <persistent-store>scjsegateM2-JMSJDBCStore</persistent-store>
  </jms-server>
  <migratable-target>
    <name>scjsegateM1 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>scjsegateM1</user-preferred-server>
    <cluster>scjsegatecluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>scjsegateM2 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>scjsegateM2</user-preferred-server>
    <cluster>scjsegatecluster</cluster>
  </migratable-target>
  <jms-bridge-destination>
    <name>InboundSourceJMSBridgeDestination</name>
    <adapter-jndi-name>eis.jms.WLSConnectionFactoryJNDIXA</adapter-jndi-name>
    <user-name>@scjsegate.jms.inbridge.user@</user-name>
    <user-password-encrypted>@scjsegate.jms.inbridge.password@</user-password-encrypted>
    <classpath></classpath>
    <connection-factory-jndi-name>ScjseGatewayConnectionFactory</connection-factory-jndi-name>
    <connection-url>@scjsegate.jms.inbridge.sourceurl@</connection-url>
    <destination-jndi-name>scjsegateway/jms/ScjseInboundQueue</destination-jndi-name>
  </jms-bridge-destination>
  <jms-bridge-destination>
    <name>InboundTargetJMSBridgeDestination</name>
    <adapter-jndi-name>eis.jms.WLSConnectionFactoryJNDIXA</adapter-jndi-name>
    <user-name>@scjsegate.jms.inbridge.user@</user-name>
    <user-password-encrypted>@scjsegate.jms.inbridge.password@</user-password-encrypted>
    <classpath></classpath>
    <connection-factory-jndi-name>ExissConnectionFactory</connection-factory-jndi-name>
    <connection-url>@scjsegate.jms.inbridge.targeturl@</connection-url>
    <destination-jndi-name>xhibit/jms/ExissInboundQueue</destination-jndi-name>
  </jms-bridge-destination>
  <jms-bridge-destination>
    <name>ItemTrackingSourceJMSBridgeDestination</name>
    <adapter-jndi-name>eis.jms.WLSConnectionFactoryJNDIXA</adapter-jndi-name>
    <user-name>@scjsegate.jms.trackbridge.user@</user-name>
    <user-password-encrypted>@scjsegate.jms.trackbridge.password@</user-password-encrypted>
    <classpath></classpath>
    <connection-factory-jndi-name>ScjseGatewayConnectionFactory</connection-factory-jndi-name>
    <connection-url>@scjsegate.jms.trackbridge.sourceurl@</connection-url>
    <destination-jndi-name>scjsegateway/jms/ScjseItemTrackingQueue</destination-jndi-name>
  </jms-bridge-destination>
  <jms-bridge-destination>
    <name>ItemTrackingTargetJMSBridgeDestination</name>
    <adapter-jndi-name>eis.jms.WLSConnectionFactoryJNDIXA</adapter-jndi-name>
    <user-name>@scjsegate.jms.trackbridge.user@</user-name>
    <user-password-encrypted>@scjsegate.jms.trackbridge.password@</user-password-encrypted>
    <classpath></classpath>
    <connection-factory-jndi-name>ExissConnectionFactory</connection-factory-jndi-name>
    <connection-url>@scjsegate.jms.trackbridge.targeturl@</connection-url>
    <destination-jndi-name>xhibit/jms/ExissItemTrackingQueue</destination-jndi-name>
  </jms-bridge-destination>
  <jdbc-store>
    <name>scjsegateM1-JMSJDBCStore</name>
    <!-- scj as scjsegate to long -->
    <prefix-name>JMS_@computer.name@_scjM1_</prefix-name>
    <data-source>ScjseGateOracleJmsDataSource</data-source>
    <target>scjsegateM1 (migratable)</target>
  </jdbc-store>
  <jdbc-store>
    <name>scjsegateM2-JMSJDBCStore</name>
    <!-- scj as scjsegate to long -->
    <prefix-name>JMS_@computer.name@_scjM2_</prefix-name>
    <data-source>ScjseGateOracleJmsDataSource</data-source>
    <target>scjsegateM2 (migratable)</target>
  </jdbc-store>
  <jms-system-resource>
    <name>ScjseGateway-JMSModule</name>
    <target>scjsegatecluster</target>
    <sub-deployment>
      <name>scjsegatecluster-Subdeployment</name>
      <target>scjsegatecluster</target>
    </sub-deployment>
    <descriptor-file-name>jms/ScjseGateway-JMSModule-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <admin-server-name>admin</admin-server-name>
  <jdbc-system-resource>
    <name>GdGateOracleTxDataSource</name>
    <target>scjsegatecluster</target>
    <descriptor-file-name>jdbc/GdGateOracleTxDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>ScjseGateOracleJmsDataSource</name>
    <target>scjsegatecluster</target>
    <descriptor-file-name>jdbc/ScjseGateOracleJmsDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
</domain>
