
/*BODY  {
    background-image: url('/PublicDisplay/heading?width=190&height=50&x=2&y=45&fontSize=40&text=18in%20&fontColor=eeeeee');
    background-repeat: repeat;
}
*/
    
TABLE.results TD {  
        font-size: 14pt;
        font-weight: bold;
}

DIV.liveStatusRestrictedWidth {
    width: 400px;
    overflow-x: hidden;
    text-overflow: ellipsis
}

DIV.liveStatusRestrictedWidth {
    width: 250px;
    overflow-x: hidden;
    text-overflow: ellipsis
}

.defendant-names, .case-title
{
    width: 450;
}

TD.scrolling-defendant-name
{
    width: 450px;
}

DIV.defendant-name-restricted-size {
    width: 450px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

DIV.defendant-name-restricted-size350 {
    width: 350px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

DIV.defendant-name-restricted-size250 {
    width: 250px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

DIV.judge-name-restricted-size {
    width: 180px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

DIV.court_room_name_restricted_size {
    width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

DIV.court_room_name-restricted-size120 {
    width: 120px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}