<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://www.bea.com/ns/weblogic/90/domain" xmlns:sec="http://www.bea.com/ns/weblogic/90/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wls="http://www.bea.com/ns/weblogic/90/security/wls" xsi:schemaLocation="http://www.bea.com/ns/weblogic/910/domain.xsd">
  <name>xhibit</name>
  <domain-version>9.2.0.0</domain-version>
  <security-configuration>
    <name>xhibit</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType">
        <sec:control-flag>SUFFICIENT</sec:control-flag>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:authentication-provider xmlns:ext="http://www.bea.com/ns/weblogic/90/security/extension" xsi:type="ext:xhibit-authenticatorType">
        <sec:name>XhibitAuthenticator</sec:name>
        <sec:control-flag>SUFFICIENT</sec:control-flag>
        <ext:host>@active.directory.host@</ext:host>
        <ext:principal>@active.directory.user@</ext:principal>
        <ext:credential-encrypted>@active.directory.password@</ext:credential-encrypted>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://www.bea.com/ns/weblogic/90/security/xacml" xsi:type="xac:xacml-role-mapperType"></sec:role-mapper>
      <sec:role-mapper xmlns:ext="http://www.bea.com/ns/weblogic/90/security/extension" xsi:type="ext:xhibit-role-mapperType">
        <sec:name>XhibitRoleMapper</sec:name>
        <ext:url>@xhibit.tx.database.url@</ext:url>
        <ext:principal>@xhibit.tx.database.user@</ext:principal>
        <ext:credential-encrypted>@xhibit.tx.database.password@</ext:credential-encrypted>
      </sec:role-mapper>
      <sec:authorizer xmlns:xac="http://www.bea.com/ns/weblogic/90/security/xacml" xsi:type="xac:xacml-authorizerType"></sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType"></sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType"></sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType"></sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted>weblogic</credential-encrypted>
  </security-configuration>
  <jta>
    <timeout-seconds>600</timeout-seconds>
  </jta>
  <log>
    <file-name>../../logs/xhibit.domain.log</file-name>
  </log>
  <server>
    <name>admin</name>
    <log>
      <file-name>../../logs/admin.weblogic.log</file-name>
    </log>
    <machine xsi:nil="true"></machine>
    <listen-port>@admin.port@</listen-port>
    <web-server>
      <web-server-log>
        <file-name>../../logs/admin.access.log</file-name>
        <elf-fields xsi:nil="true"></elf-fields>
      </web-server-log>
    </web-server>
    <listen-address>@computer.name@</listen-address>
    <network-access-point>
      <name>HttpProxyServletChannel</name>
      <protocol>http</protocol>
      <listen-address>@computer.name@</listen-address>
      <listen-port>@admin.proxy.port@</listen-port>
      <public-port>@admin.proxy.port@</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
    <network-access-point>
      <name>SecureHttpProxyServletChannel</name>
      <protocol>https</protocol>
      <listen-address>@computer.name@</listen-address>
      <listen-port>@admin.secure.proxy.port@</listen-port>
      <public-port>@admin.secure.proxy.port@</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
  </server>
  <server>
    <name>midM1</name>
    <ssl>
      <enabled>true</enabled>
      <listen-port>@midM1.sslport@</listen-port>
      <server-private-key-alias>@ssl.alias@</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>@ssl.keypass@</server-private-key-pass-phrase-encrypted>
    </ssl>
    <log>
      <file-name>../../logs/midM1.weblogic.log</file-name>
    </log>
    <execute-queue>
      <name>weblogic.kernel.default</name>
      <thread-count>@exiss.weblogic.kernel.default.count@</thread-count>
      <threads-maximum>@exiss.weblogic.kernel.default.max.count@</threads-maximum>
      <threads-minimum>@exiss.weblogic.kernel.default.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>message.builder.execute.queue</name>
      <thread-count>@exiss.message.builder.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.message.builder.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.message.builder.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>item.tracking.execute.queue</name>
      <thread-count>@exiss.item.tracking.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.item.tracking.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.item.tracking.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>exiss.inbound.execute.queue</name>
      <thread-count>@exiss.inbound.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.inbound.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.inbound.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>item.tracking.notifier.execute.queue</name>
      <thread-count>@exiss.item.tracking.notifier.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.item.tracking.notifier.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.item.tracking.notifier.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>exiss.message.broker.execute.queue</name>
      <thread-count>@exiss.message.broker.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.message.broker.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.message.broker.execute.queue.min.count@</threads-minimum>
    </execute-queue>
     <execute-queue>
      <name>exiss.deadletter.execute.queue</name>
      <thread-count>@exiss.deadletter.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.deadletter.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.deadletter.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>DartsExecutionGroup</name>
      <thread-count>@darts.execution.group.count@</thread-count>
      <threads-maximum>@darts.execution.group.max.count@</threads-maximum>
      <threads-minimum>@darts.execution.group.min.count@</threads-minimum>
    </execute-queue>
    <use81-style-execute-queues>true</use81-style-execute-queues>        
    <machine>myMachine</machine>
    <listen-port>@midM1.port@</listen-port>
    <cluster>midcluster</cluster>
    <web-server>
      <web-server-log>
        <file-name>../../logs/midM1.access.log</file-name>
        <elf-fields xsi:nil="true"></elf-fields>
      </web-server-log>
    </web-server>
    <listen-address>@computer.name@</listen-address>
    <server-start>
      <arguments>-server -Xms256m -Xmx512m -XX:MaxPermSize=128m -XX:MaxPermSize=256m -da</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>midM1</user-preferred-server>
      <cluster>midcluster</cluster>
    </jta-migratable-target>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>@ssl.keystore@</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>jks</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>@ssl.storepass@</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted></java-standard-trust-key-store-pass-phrase-encrypted>
  </server>
  <server>
    <name>midM2</name>
    <ssl>
      <enabled>true</enabled>
      <listen-port>@midM2.sslport@</listen-port>
      <server-private-key-alias>@ssl.alias@</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>@ssl.keypass@</server-private-key-pass-phrase-encrypted>
    </ssl>
    <log>
      <file-name>../../logs/midM2.weblogic.log</file-name>
    </log>
    <execute-queue>
      <name>weblogic.kernel.default</name>
      <thread-count>@exiss.weblogic.kernel.default.count@</thread-count>
      <threads-maximum>@exiss.weblogic.kernel.default.max.count@</threads-maximum>
      <threads-minimum>@exiss.weblogic.kernel.default.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>message.builder.execute.queue</name>
      <thread-count>@exiss.message.builder.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.message.builder.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.message.builder.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>item.tracking.execute.queue</name>
      <thread-count>@exiss.item.tracking.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.item.tracking.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.item.tracking.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>exiss.inbound.execute.queue</name>
      <thread-count>@exiss.inbound.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.inbound.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.inbound.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>item.tracking.notifier.execute.queue</name>
      <thread-count>@exiss.item.tracking.notifier.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.item.tracking.notifier.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.item.tracking.notifier.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <execute-queue>
      <name>exiss.message.broker.execute.queue</name>
      <thread-count>@exiss.message.broker.execute.queue.count@</thread-count>
      <threads-maximum>@exiss.message.broker.execute.queue.max.count@</threads-maximum>
      <threads-minimum>@exiss.message.broker.execute.queue.min.count@</threads-minimum>
    </execute-queue>
    <use81-style-execute-queues>true</use81-style-execute-queues>        
    <machine>myMachine</machine>
    <listen-port>@midM2.port@</listen-port>
    <cluster>midcluster</cluster>
    <web-server>
      <web-server-log>
        <file-name>../../logs/midM2.access.log</file-name>
        <elf-fields xsi:nil="true"></elf-fields>
      </web-server-log>
    </web-server>
    <listen-address>@computer.name@</listen-address>
    <server-start>
      <arguments>-server -Xms256m -Xmx512m -XX:MaxPermSize=128m -XX:MaxPermSize=256m -da</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>midM2</user-preferred-server>
      <cluster>midcluster</cluster>
    </jta-migratable-target>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>@ssl.keystore@</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>jks</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>@ssl.storepass@</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted></java-standard-trust-key-store-pass-phrase-encrypted>
  </server>
  <server>
    <name>presM1</name>
    <ssl>
      <enabled>true</enabled>
      <listen-port>@presM1.sslport@</listen-port>
      <server-private-key-alias>@ssl.alias@</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>@ssl.keypass@</server-private-key-pass-phrase-encrypted>
    </ssl>
    <log>
      <file-name>../../logs/presM1.weblogic.log</file-name>
    </log>
    <machine>myMachine</machine>
    <listen-port>@presM1.port@</listen-port>
    <cluster>prescluster</cluster>
    <web-server>
      <web-server-log>
        <file-name>../../logs/presM1.access.log</file-name>
        <elf-fields xsi:nil="true"></elf-fields>
      </web-server-log>
    </web-server>
    <listen-address>@computer.name@</listen-address>
    <server-start>
      <arguments>-server -Xms256m -Xmx512m -XX:MaxPermSize=128m -XX:MaxPermSize=256m -da</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>presM1</user-preferred-server>
      <cluster>prescluster</cluster>
    </jta-migratable-target>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>@ssl.keystore@</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>jks</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>@ssl.storepass@</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted></java-standard-trust-key-store-pass-phrase-encrypted>
  </server>
  <server>
    <name>presM2</name>
    <ssl>
      <enabled>true</enabled>
      <listen-port>@presM2.sslport@</listen-port>
      <server-private-key-alias>@ssl.alias@</server-private-key-alias>
      <server-private-key-pass-phrase-encrypted>@ssl.keypass@</server-private-key-pass-phrase-encrypted>
    </ssl>
    <log>
      <file-name>../../logs/presM2.weblogic.log</file-name>
    </log>
    <machine>myMachine</machine>
    <listen-port>@presM2.port@</listen-port>
    <cluster>prescluster</cluster>
    <web-server>
      <web-server-log>
        <file-name>../../logs/presM2.access.log</file-name>
        <elf-fields xsi:nil="true"></elf-fields>
      </web-server-log>
    </web-server>
    <listen-address>@computer.name@</listen-address>
    <server-start>
      <arguments>-server -Xms256m -Xmx512m -XX:MaxPermSize=128m -XX:MaxPermSize=256m -da</arguments>
    </server-start>
    <jta-migratable-target>
      <user-preferred-server>presM2</user-preferred-server>
      <cluster>prescluster</cluster>
    </jta-migratable-target>
    <key-stores>CustomIdentityAndJavaStandardTrust</key-stores>
    <custom-identity-key-store-file-name>@ssl.keystore@</custom-identity-key-store-file-name>
    <custom-identity-key-store-type>jks</custom-identity-key-store-type>
    <custom-identity-key-store-pass-phrase-encrypted>@ssl.storepass@</custom-identity-key-store-pass-phrase-encrypted>
    <java-standard-trust-key-store-pass-phrase-encrypted></java-standard-trust-key-store-pass-phrase-encrypted>
  </server>
  <cluster>
    <name>midcluster</name>
    <multicast-address>@midcluster.multicast.address@</multicast-address>
    <multicast-port>@midcluster.multicast.port@</multicast-port>
  </cluster>
  <cluster>
    <name>prescluster</name>
    <multicast-address>@prescluster.multicast.address@</multicast-address>
    <multicast-port>@prescluster.multicast.port@</multicast-port>
  </cluster>
  <messaging-bridge>
    <name>OutboundBridge</name>
    <target>midcluster</target>
    <source-destination>OutboundSourceJMSBridgeDestination</source-destination>
    <target-destination>OutboundTargetJMSBridgeDestination</target-destination>
    <selector></selector>
    <quality-of-service>Exactly-once</quality-of-service>
    <qos-degradation-allowed>true</qos-degradation-allowed>
    <durability-enabled>true</durability-enabled>
    <idle-time-maximum>@exiss.jms.outbridge.idletimemaximum@</idle-time-maximum>
    <async-enabled>false</async-enabled>
    <started>true</started>
    <batch-size>@exiss.jms.outbridge.batchsize@</batch-size>
    <batch-interval>@exiss.jms.outbridge.batchinterval@</batch-interval>
    <preserve-msg-property>false</preserve-msg-property>
  </messaging-bridge>
  <embedded-ldap>
    <name>xhibit</name>
    <credential-encrypted>{3DES}Ya/QivymMDQGMqQT365UcRvo81A/dw4dhNMOlaZUDvE=</credential-encrypted>
  </embedded-ldap>
  <configuration-version>9.2.0.0</configuration-version>
  <app-deployment>
    <name>ProxyWebApp</name>
    <target>admin</target>
    <module-type>war</module-type>
    <source-path>..\development\staging\ProxyWebApp</source-path>
    <security-dd-model>DDOnly</security-dd-model>
  </app-deployment>
  <app-deployment>
    <name>jms-xa-adp</name>
    <target>midcluster</target>
    <module-type>rar</module-type>
    <source-path>@exiss.jms.jmsxaadp@</source-path>
    <security-dd-model>DDOnly</security-dd-model>
  </app-deployment>
  <machine>
    <name>myMachine</name>
  </machine>
  <jms-server>
    <name>midM1-JMSServer</name>
    <target>midM1 (migratable)</target>
    <persistent-store>midM1-JMSJDBCStore</persistent-store>
  </jms-server>
  <jms-server>
    <name>midM2-JMSServer</name>
    <target>midM2 (migratable)</target>
    <persistent-store>midM2-JMSJDBCStore</persistent-store>
  </jms-server>
  <migratable-target>
    <name>midM1 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>midM1</user-preferred-server>
    <cluster>midcluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>midM2 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>midM2</user-preferred-server>
    <cluster>midcluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>presM1 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>presM1</user-preferred-server>
    <cluster>prescluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>presM2 (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>presM2</user-preferred-server>
    <cluster>prescluster</cluster>
  </migratable-target>
  <jms-bridge-destination>
    <name>OutboundSourceJMSBridgeDestination</name>
    <adapter-jndi-name>eis.jms.WLSConnectionFactoryJNDIXA</adapter-jndi-name>
    <user-name>@exiss.jms.outbridge.user@</user-name>
    <user-password-encrypted>@exiss.jms.outbridge.password@</user-password-encrypted>
    <classpath></classpath>
    <connection-factory-jndi-name>ExissConnectionFactory</connection-factory-jndi-name>
    <connection-url>@exiss.jms.outbridge.sourceurl@</connection-url>
    <destination-jndi-name>xhibit/jms/ExissMessageBrokerQueue</destination-jndi-name>
  </jms-bridge-destination>
  <jms-bridge-destination>
    <name>OutboundTargetJMSBridgeDestination</name>
    <adapter-jndi-name>eis.jms.WLSConnectionFactoryJNDIXA</adapter-jndi-name>
    <user-name>@exiss.jms.outbridge.user@</user-name>
    <user-password-encrypted>@exiss.jms.outbridge.password@</user-password-encrypted>
    <classpath></classpath>
    <connection-factory-jndi-name>ScjseGatewayConnectionFactory</connection-factory-jndi-name>
    <connection-url>@exiss.jms.outbridge.targeturl@</connection-url>
    <destination-jndi-name>scjsegateway/jms/ScjseOutboundQueue</destination-jndi-name>
  </jms-bridge-destination>
  <jdbc-store>
    <name>midM1-JMSJDBCStore</name>
    <prefix-name>JMS_@computer.name@_midM1_</prefix-name>
    <data-source>XhibitOracleJmsDataSource</data-source>
    <target>midM1 (migratable)</target>
  </jdbc-store>
  <jdbc-store>
    <name>midM2-JMSJDBCStore</name>
    <prefix-name>JMS_@computer.name@_midM2_</prefix-name>
    <data-source>XhibitOracleJmsDataSource</data-source>
    <target>midM2 (migratable)</target>
  </jdbc-store>
  <jms-system-resource>
      <name>Xhibit-IM-JMSModule</name>
      <target>midcluster</target>
      <sub-deployment>
        <name>midM1-JMSServer-Subdeployment</name>
        <target>midM1-JMSServer</target>
      </sub-deployment>
      <descriptor-file-name>jms/Xhibit-IM-JMSModule-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <jms-system-resource>
      <name>Xhibit-DARTS-JMSModule</name>
      <target>midcluster</target>
      <sub-deployment>
        <name>midM1-JMSServer-Subdeployment</name>
        <target>midM1-JMSServer</target>
      </sub-deployment>
      <sub-deployment>
      <name>midcluster-Subdeployment</name>
      <target>midcluster</target>
    </sub-deployment>
      <descriptor-file-name>jms/Xhibit-DARTS-JMSModule-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <jms-system-resource>
    <name>Xhibit-JMSModule</name>
    <target>midcluster</target>
    <sub-deployment>
      <name>midcluster-Subdeployment</name>
      <target>midcluster</target>
    </sub-deployment>
    <descriptor-file-name>jms/Xhibit-JMSModule-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <admin-server-name>admin</admin-server-name>
  <jdbc-system-resource>
    <name>XhibitOracleTxDataSource</name>
    <target>midcluster</target>
    <descriptor-file-name>jdbc/XhibitOracleTxDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>DartsOracleTxDataSource</name>
    <target>midcluster</target>
    <descriptor-file-name>jdbc/DartsOracleTxDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>CjitOracleTxDataSource</name>
    <target>midcluster</target>
    <descriptor-file-name>jdbc/CjitOracleTxDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>ExissOracleTxDataSource</name>
    <target>midcluster</target>
    <descriptor-file-name>jdbc/ExissOracleTxDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <jdbc-system-resource>
    <name>XhibitOracleJmsDataSource</name>
    <target>midcluster</target>
    <descriptor-file-name>jdbc/XhibitOracleJmsDataSource-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
</domain>
